[package]
name = "apalis-redis"
version = "0.4.3"
authors = ["Njuguna Mureithi <mureithinjuguna@gmail.com>"]
edition = "2021"
readme = "../../README.md"

license = "MIT"
description = "Redis Storage for apalis: use Redis for background jobs and message queueing"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
apalis-core = { path = "../../packages/apalis-core", version = "0.4.3", default-features = false, features = [
    "storage",
] }
redis = { version = "0.23", default-features = false, features = [
    "script",
    "aio",
    "connection-manager"
] }
serde = "1"
log = "0.4"
chrono = { version = "0.4", default-features = false, features = [
    "clock",
    "serde",
] }
serde_json = "1"
async-stream = "0.3"
futures = "0.3"
tokio = { version = "1", features = ["rt", "net"], optional = true }
async-std = { version = "1.12.0", optional = true }
async-trait = "0.1.72"


[dev-dependencies]
tokio = { version = "1", features = ["macros"] }
email-service = { path = "../../examples/email-service" }

[features]
default = ["tokio-comp"]
async-std-comp = [
    "async-std",
    "redis/async-std-comp",
    "apalis-core/async-std-comp",
]
tokio-comp = [
    "tokio",
    "tokio/net",
    "redis/tokio-comp",
    "apalis-core/tokio-comp",
]
expose = ["apalis-core/expose"]
